<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- render 'section-variables', section: section -%}
  }
</style>

{%- liquid
  assign collection = section.settings.collection
  assign products = section.settings.products | default: collection.products
-%}
<div class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}">
  <div class="page-width{% if section.settings.full_width %} page-width--full{% endif %} relative">
    {%- capture view_all -%}
      {%- if section.settings.show_view_all and collection != blank and section.settings.product_limit < collection.all_products_count -%}
        <a class="button button--secondary icon-with-text" href="{{ collection.url }}" is="hover-link" aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: collection.title }}">
          <span class="btn-fill" data-fill></span>
          <span class="btn-text">
            {%- liquid
              render 'icon', icon: 'newspaper'
              echo 'sections.featured_collection.view_all' | t
            -%}
          </span>
        </a>
      {%- endif -%}
    {%- endcapture -%}
    {%- capture indicators -%}
      {%- if section.settings.carousel_on_desktop -%}
        <div class="indicators hidden lg:flex gap-2d5">
          <button class="button button--secondary" type="button" is="previous-button" aria-controls="Slider-{{ section.id }}" aria-label="{{ 'general.pagination.previous' | t | escape }}" disabled>
            <span class="btn-fill" data-fill></span>
            <span class="btn-text">
              {%- render 'icon', icon: 'chevron-left', class: 'transform' -%}
            </span>
          </button>
          <button class="button button--secondary" type="button" is="next-button" aria-controls="Slider-{{ section.id }}" aria-label="{{ 'general.pagination.next' | t | escape }}">
            <span class="btn-fill" data-fill></span>
            <span class="btn-text">
              {%- render 'icon', icon: 'chevron-right', class: 'transform' -%}
            </span>
          </button>
        </div>
        <p class="lg:hidden">{{ view_all }}</p>
      {%- else -%}
        <p>{{ view_all }}</p>
      {%- endif -%}
    {%- endcapture -%}
    {%- render 'section-heading', section: section, section_button: indicators -%}

    <slider-element id="Slider-{{ section.id }}" class="grid slider{% if section.settings.carousel_on_desktop %} slider--desktop{% endif %}{% if section.settings.swipe_on_mobile %} slider--tablet{% endif %}" selector=".card-grid>.card">
      <motion-list class="product-grid card-grid card-grid--{{ section.settings.columns }} mobile:card-grid--{{ section.settings.columns_mobile }} grid">
        {%- for product in products limit: section.settings.product_limit -%}
          {%- render 'product-card',
            product: product,
            product_id: product.id,
            section_id: section.id,
            lazy_load: false,
            image_ratio: settings.product_image_ratio,
            image_fill: settings.product_image_fill,
            show_secondary_image: settings.product_secondary_image,
            show_vendor: false,
            show_rating: settings.product_rating,
            show_color_swatches: settings.product_color_swatches,
            show_countdown: settings.product_countdown,
            show_quick_add: settings.product_quick_add,
            show_quick_view: settings.product_quick_view,
            show_save_amount: settings.product_save_amount,
            save_type: settings.product_save_type
          -%}
        {%- else -%}
          {%- for i in (1..section.settings.product_limit) -%}
            {%- capture placeholder -%}product-{% cycle '1', '2', '3', '4', '5', '6' %}{%- endcapture -%}
            {%- render 'product-card-placeholder',
              lazy_load: false,
              image_ratio: settings.product_image_ratio,
              image_fill: settings.product_image_fill,
              show_secondary_image: settings.product_secondary_image,
              show_vendor: false,
              show_rating: settings.product_rating,
              show_color_swatches: settings.product_color_swatches,
              show_countdown: settings.product_countdown,
              show_quick_add: settings.product_quick_add,
              show_quick_view: settings.product_quick_view,
              show_save_amount: settings.product_save_amount,
              save_type: settings.product_save_type,
              placeholder: placeholder
            -%}
          {%- endfor -%}
        {%- endfor -%}
      </motion-list>

      {%- if section.settings.heading == blank and section.settings.subheading == blank and section.settings.description == blank -%}
        {%- if section.settings.carousel_on_desktop -%}
          <div class="indicators hidden lg:flex gap-2d5 items-center absolute top-0 left-0 w-full h-full pointer-events-none opacity-0 page-width">
            <button class="button button--primary pointer-events-auto" type="button" is="previous-button" aria-controls="Slider-{{ section.id }}" aria-label="{{ 'general.pagination.previous' | t | escape }}" disabled>
              <span class="btn-fill" data-fill></span>
              <span class="btn-text">
                {%- render 'icon', icon: 'chevron-left', class: 'stroke-2 transform' -%}
              </span>
            </button>
            <button class="button button--primary pointer-events-auto" type="button" is="next-button" aria-controls="Slider-{{ section.id }}" aria-label="{{ 'general.pagination.next' | t | escape }}">
              <span class="btn-fill" data-fill></span>
              <span class="btn-text">
                {%- render 'icon', icon: 'chevron-right', class: 'stroke-2 transform' -%}
              </span>
            </button>
          </div>
        {%- endif -%}
      {%- endif -%}
    </slider-element>

    {%- if section.settings.carousel_on_desktop -%}
      <p class="hidden lg:block">{{ view_all }}</p>
    {%- endif -%}
  </div>
</div>